@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tw-container-responsive {
    @apply w-[95%] lg:w-[85%] xl:w-[70%];
  }

  .tw-bg-blue-gradient {
    @apply bg-gradient-to-r from-blueOne to-blueTwo;
  }

  .tw-bg-orange-gradient {
    @apply bg-gradient-to-r from-orangeOne to-orangeTwo;
  }

  .tw-transition-standard {
    @apply transition-all duration-300 ease-in-out;
  }

  .tw-center {
    @apply items-center text-center flex justify-center;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

html,  
body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;
  box-sizing: border-box;
  font-family: 'Baloo 2', 'Noto Sans', 'Arial', 'sans-serif';
  overflow-x: hidden;
  letter-spacing: -0.025em;
}

#__next { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.0125em;
}